@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: YoungSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
}

p, ul, ol, table {
    font-family: Outfit;
    color: hsl(24, 5%, 18%);
}

li::marker {
    color: hsl(14, 45%, 36%);
}

li {
    padding: 5px;
}

hr {
    color: hsl(30, 18%, 87%);
}

.container {
    /* background-color: hsl(330, 100%, 98%); */
    background-color: red;
    padding: 5%;
    margin: 5%;
}

img {
    width: 500px;
    height: 300px;
}

.title {
    font-family: YoungSerif;
}

.header {
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

.prep {
    font-family: Outfit;
}

.values {
    color: hsl(14, 45%, 36%);
}