@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: YoungSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

*{
    background-color: hsl(30, 54%, 90%);
}

body {
    font-size: 16px;
}

.title {
    font-family: YoungSerif;
}