@font-face {
    font-family: Outfit;
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: YoungSerif;
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body {
    font-size: 16px;
    background-color: hsl(30, 54%, 90%);
}

p, ul, ol, table {
    font-family: Outfit;
    color: hsl(24, 5%, 18%);
}

li::marker {
    color: hsl(14, 45%, 36%);
}

li {
    padding: 5px;
}

hr {
    color: hsl(30, 18%, 87%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

img, .container {
    border-radius: 10px;
}

.container {
    background-color: hsl(330, 100%, 98%);
    margin: 5% 30% 5% 30%;
    padding-top: 1.10%;
}

.writing {
    margin: 2.5%;
}

.title {
    font-family: YoungSerif;
}

.header {
    color: hsl(14, 45%, 36%);
    font-weight: 400;
}

.prep {
    font-family: Outfit;
    background-color: hsl(330, 100%, 98%);
}

.prephead {
    color: hsl(332, 51%, 32%);
}

.values {
    color: hsl(14, 45%, 36%);
}